<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Selenium Locators - SauceDemo" verbose="2">
    <test name="Positive Login - standard_user">
        <classes>
            <class name="tests.PositiveLoginTest"/>
        </classes>
    </test>
    <test name="Negative Login - locked_out_user">
        <classes>
            <class name="tests.NegativeLoginTest"/>
        </classes>
    </test>
</suite>
